#display {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.board {
  display: flex;
  justify-self: center;
  align-self: center;
  flex-wrap: wrap;
  max-width: 650px;
  margin: 0 auto;
}
