.field {
  border: 2px solid #6ac2fe;
  width: 200px;
  height: 200px;
  background-color: rgba(146, 145, 145, 0.7);
  font-size: 70px;
  color: aliceblue;
}

.field:hover {
  cursor: pointer;
}

.field:active {
  background-color: aliceblue;
  color: black;
}
